@import "../../styles.scss";

#header{
	background-color: #8de672;

	height: 50px;
	width: 100%;
	
	font-family: 'Josefin Sans', sans-serif;

	.header-element{
		height: inherit;
		width: $disp-width;
		padding-left: calc(100% - (#{var} / 2));

		#header-logo{
			padding-left: 25px;
			height: inherit;
			display: inline-block;
			img {
				padding-top: 2.5px;
				width: auto;
				height: auto;
				max-height: 90%;
			}
		}

		.header-dashboard {
			padding-left: 25px;
			margin-bottom: 5px;
			height: 100%;
			line-height: 100%;
			font-size:x-large;
			font-weight: bold;
			display: inline-block;
			vertical-align:middle;
		}
	}
}