@import "../../styles.scss";

#header{
	background-color: $main-color;

	height: $header-height;
	width: 100%;
	position: fixed;
	
	font-family: 'Josefin Sans', sans-serif;
	border-bottom-style: double;
	border-bottom-color: #fff;
	border-bottom-width: 10px;

	.header-element{
		height: inherit;
		width: $disp-width;
		padding-left: calc((100% - #{$disp-width}) / 2);
		
		nav {
			height: inherit;

			#header-logo{
				height: inherit;
				display: inline-block;
				img {
					padding-top: 2.5px;
					width: auto;
					height: auto;
					max-height: 90%;
					outline: 0;
				}

				img:hover{
					cursor:pointer;
				}
			}
			
			ul {
				height: inherit;
				display: inline-block;
				vertical-align: top;
				li {
					padding-left: 25px;
					height: inherit;
					font-size:x-large;
					font-weight: bold;
					display: inline-block;
					outline: 0;

					.header-dashboard{
						margin-top: 15px;
					}
				}

				li:hover {
					cursor: pointer;
				}
			}
		}
	}
}

.dummy-header{
	padding-top: $header-height;
	height: 1px;
	width: 100%;
	display: block;
}