<h1>Welcome to NgoNgoPark!</h1>
<br /><br />
<app-h2-component [h2text]="'What is 2048?'"></app-h2-component>
<div class="content-explain">
	<p>2048はランダムに生成されるタイルから，同じ数字を重ねてより大きな数字を持つタイルを作るゲームです． </p>
	<div class="img-parent">
		<img
			src="https://bn1302files.storage.live.com/y4msduXYaiQbF-W15USuh7giCMkHl95_Xc_QYSVnZrk-sG__r-CMY6Mk8PPeLHhyPVafUOEyFl_nzib5Pr1tZ531L9xR3gV0VqcNJPCeYaiKN_nj8C5tcJlNrg8FzYuc82szkifVYWG2C9Qd3Aj5IgLReqGgpaqWb5uzdhBS4Tkp4XSXfvsz4hJc1l83U3DwyPiLhzUp9ygsRn-Ki6npTzIjw/2048_1.jpg?psid=1&width=250&height=444">
	</div>
</div>

<app-h2-component [h2text]="'How to Play 2048?'"></app-h2-component>
<div class="content-explain">
	<p>上下左右のいずれか一方を選んですべてのタイルを移動させられます．</p>
	<div class="img-parent">
		<img
			src="https://bn1302files.storage.live.com/y4mUxjZNshVoH1uKvRbD7bazN3J6uT0dXU-seTk8Fw3AFX4WN2b1yXjScxygYGckmd58Uvq_NAPfDnnVhHc7_lSD1R71-uBFeggqk8DC5UnSKc5sFvMXaG6HJwtWDKMvbRS0270Ak8JhQadkWo2qKgClIipOAuuuEV_QhcHZtacOckkOK84Me_P1A9V-oBCAAV5Ur7KtUCjGyCwoJqfpHuzFg/2048_2.jpg?psid=1&width=250&height=444">
	</div>

	<br />
	<p>同じ数字のタイルが重なると一つのタイルになります．</p>
	<p>（画像は下に移動した場合の挙動です．）</p>
	<div class="img-double">
		<img
			src="https://bn1302files.storage.live.com/y4mxLWhSDHQVvCueDqwIlStscVk43U38sc7ysdVvtFLjyiJYqf8Q_hyUtO7yZ73Ew1t0SIUcP0WEqZVxHu-UOk3W_HXwyfEfKGU45Ky1xMe2rFTwGdMrOFno824ywn4fIbW03fUlqGvEaVUl94GGFTTlLr5GdLzhszGN6hXaFdDjtFGsOji7CIj3g0S62K6ipZy781UOWd_SpMpm8ZP82WDCw/2048_3_3.jpg?psid=1&width=279&height=218">
	</div>
</div>