@import "../../../styles.scss";

$dark-color: darken($main-color, 10%);
$light-color: lighten($main-color, 10%);

h2 {
	padding-left: 30px;
	width: 91%;
	height: 40px;
	height:auto;
	color: black;
	display: inline-block;
	font-family: 'Josefin Sans', sans-serif;

	border-left-style: solid;
	border-left-color: $main-color;
	border-left-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: $light-color;
	border-bottom-width: 1px;
}