/* You can add global styles to this file, and also import other style files */
* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #fff;
	overflow-y: scroll;
}

$header-height: 50px;
$main-color: #8de672;
$background-color: #eee;

// $disp-width: 50% !default;
$disp-width: max(360px, 30%);