<ul class="ranking">
	<table>
		<tr>
			<th class="th-ranking">rank</th>
			<th class="th-name">name</th>
			<th class="th-score">score</th>
			<th class="th-affiliation">affiliation</th>
			<!-- <th>timestamp</th>
			<th>submit_id</th> -->
			<th class="th-source">source</th>
		</tr>
		<tr *ngFor="let user of users">
			<td>{{user.ranking}}</td>
			<td>{{user.name}}</td>
			<td>{{user.score}}</td>
			<td>{{user.affiliation}}</td>
			<!-- <td>{{user.timestamp}}</td>
			<td>{{user.submit_id}}</td> -->
			<td>{{user.source_url}}</td>
		</tr>
	</table>
</ul>